.dish {
  margin-left: 60px;
}

.dish:first-child {
  margin-left: 0;
}

.dish__desc {
  margin-top: 22px;
}

.dish__name {
  font-weight: lighter;
  font-size: 16px;
  letter-spacing: 1px;
}

.dish__rate {

}
